.filter-dropdown {
    margin: 0 10px;
  }
  
  .filter-dropdown select {
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #222;
    color: #fff;
  }
  
  .filter-dropdown select:focus {
    outline: none;
    border-color: #e50914;
  }